<!DOCTYPE html>
<html lang="en">
<head>
<title> The latest Laravel news, tips, and tutorials
</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="always">
<meta property="fb:pages" content="214020072130601">

<link rel="alternate" type="application/rss+xml" title="Laravel News &raquo; Feed" href="https://feed.laravel-news.com/">
<link rel="alternate" title="Laravel News Feed" type="application/json" href="https://laravel-news.com/feed/json"/>

<link rel="apple-touch-icon" sizes="180x180" href="https://laravel-news.com/apple-touch-icon.png">

<link rel="icon" type="image/png" href="https://laravel-news.com/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://laravel-news.com/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://laravel-news.com/manifest.json">
<link rel="mask-icon" href="https://laravel-news.com/safari-pinned-tab.svg" color="#f4645f">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="https://laravel-news.com/build/assets/css/all-e5aab8d53d.css">
</head>

<body id="site-layout">

<nav class="site-nav">
    <div class="container wrapper">
        <div class="nav__header">
            <a class="nav__logo" href="https://laravel-news.com">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 91 89" style="enable-background:new 0 0 91 89;" xml:space="preserve" fill="currentColor" class="logo">
                    <g>
                        <path d="M86.5,0h-82C2,0,0,2,0,4.5v80C0,87,2,89,4.5,89h82c2.5,0,4.5-2,4.5-4.5v-80C91,2,89,0,86.5,0z M43.7,67.8 c-0.1,0.5-0.5,0.9-1,0.9H22.3c-1.4,0-2.5-1.1-2.5-2.5V22.4c0.1-0.5,0.5-0.9,1-0.9h3.7c0.5,0.1,0.9,0.5,0.9,1v41h17.4 c0.5,0.1,0.9,0.5,0.9,1V67.8z M72.3,67.2C72.3,67.3,72.3,67.3,72.3,67.2c0,0.9-0.6,1.5-1.4,1.5h-4.1c-0.3,0-0.7,0-1-0.2 c-0.4-0.1-0.6-0.4-0.8-0.7L43.5,30.3v26.3c-0.1,0.5-0.5,0.9-1,0.9h-3.4c0,0-0.1,0-0.1,0s0,0,0.1,0c-0.6,0-1-0.4-1-0.8V23.1 c0-0.1,0-0.1,0-0.1c0-0.8,0.6-1.4,1.4-1.4h4c0.3,0,0.7,0,1,0.2c0.4,0.1,0.6,0.4,0.8,0.7L67,60V22.4c0.1-0.5,0.5-0.9,1-0.9h3.4 c0.5,0.1,0.9,0.5,0.9,1V67.2z"/>
                    </g>
                </svg>
                <p class="logo__title">Laravel News</p>
            </a>
            <button type="button" class="nav__hamburger js-menu-toggle">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
            </button>
        </div>
        <div class="nav__container js-menu">
            <div class="nav__main">
                <ul>
                <li class="nav__item"><a href="https://laravel-news.com/blog">Blog</a></li>
                <li class="nav__item"><a href="/category/laravel-tutorials">Tutorials</a></li>
                <li class="nav__item"><a href="/category/laravel-packages">Packages</a></li>
                <li class="nav__item"><a href="https://laravel-news.com/podcast">Podcast</a></li>
                <li class="nav__item"><a href="https://laravel-news.com/newsletter">Newsletter</a></li>
                </ul>
            </div>
            <ul class="nav__social social social--lg">
                <li><a rel="nofollow" href="https://twitter.com/laravelnews" class="social__icon icon--twitter"><svg><use xlink:href="#icon-twitter"></svg></a></li>
                <li><a rel="nofollow" href="https://www.facebook.com/laravelnews" class="social__icon icon--facebook"><svg><use xlink:href="#icon-facebook"></svg></a></li>
            </ul>
            <div class="nav__footer">
                <ol>
                <li><a href="https://laravel-news.com/category/laravel-tutorials">Laravel Tutorials</a></li>
                <li><a href="https://laravel-news.com/category/laravel-packages">Laravel Packages</a></li>
                <li><a href="https://laravel-news.com/category/laravel-books">Laravel Books</a></li>
                <li><a href="https://laravel-news.com/category/interviews">The Artisan Files</a></li>
                <li><a href="https://laravel-news.com/category/laravel-applications">Laravel Applications</a></li>
                <li><a href="https://laravel-news.com/category/homestead">Laravel Homestead</a></li>
                </ol>
                <img src="/assets/images/dark-ln-elephant.png">
            </div>
        </div>
    </div>
</nav>


<main class="site-main">
    <div class="container wrapper">
        <div class="callout my1">
            <p>Sponsor: <a href="https://amzn.to/2aY1vIU" rel="nofollow">Laravel: Up and Running is now on sale at Amazon.</a></p>
        </div>
        <div class="gutter">
            <div class="md-col md-col-7 lg-col-8">
                <div class="card card--post mt0 mb3">
                    <div class="post__image">
                        <a href="/performant-laravel">
                            <img src="https://i0.wp.com/wp.laravel-news.com/wp-content/uploads/2017/06/performant-laravel.jpg?resize=1400%2C709" alt="Learn how to Improve the performance of your Laravel app with Performant Laravel">
                        </a>
                    </div>
                    <div class="post__content truncate">
                        <span class="label">News
                            <span class="text--gray"> / </span>
                            <span class="text--gray">June 14, 2017</span>
                        </span>
                        <h2 class=""><a href="/performant-laravel">Learn how to Improve the performance of your Laravel app with Performant Laravel</a></h2>
                        <p>Performant Laravel is a new free video course created by Chris Fidao that covers quick performance wins you can implement right now into your Laravel apps.</p>
                        <p>The course includes 12 videos that range from three minutes up to twenty minutes, which makes them the perfect size for binge watching during your breaks. </p>
                        <a class="truncate__link" href="/performant-laravel">Read more&hellip;</a>
                    </div>
                    <div class="post__footer">
                        <div class="post__author">
                            <img class="author__image" src="https://www.gravatar.com/avatar/0e7b6742f9d7e1a8a213d74b429b9e8f?s=130">
                            <div class="author__content">
                                <h4 class="author__name">by <a href="/@ericlbarnes">Eric L. Barnes</a></h4>
                                <ul class="author__links">
                                    <li><span class="twitter"><a href="https://twitter.com/ericlbarnes" rel="nofollow"><svg><use xlink:href="#icon-twitter"></svg></a></span></li>
                                    <li><span class="facebook"><a href="https://facebook.com/ebarnes" rel="nofollow"><svg><use xlink:href="#icon-facebook"></svg></a></span></li>
                                    <li><span class="github"><a href="https://github.com/ericbarnes" rel="nofollow"><svg><use xlink:href="#icon-github"></svg></a></span></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="tags">
                            <li class="tag"><a href="#" class="tag__link">Wocao</a></li>
                        </ul>
                    </div>
                </div>

                <div class="callout callout--gray my3">
                    <p>Sponsor: <a target="_blank" href="https://www.amazon.com/gp/product/0321278658/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0321278658&linkCode=as2&tag=laranews08-20&linkId=91c42203671dda32c70be9e7cdd9444e">Extreme Programming Explained: Embrace Change</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=laranews08-20&l=am2&o=1&a=0321278658" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/></p> 
                </div>
                <nav class="pagination">
                    <a href="" class="pagination__arrow arrow--left btn--disabled"><svg class="pagination__icon"><use xlink:href="#icon-arrow-left"></use></svg> Newer Posts</a>
                    <a href="https://laravel-news.com/blog?page=2" class="pagination__arrow arrow--right ">Older Posts <svg class="pagination__icon"><use xlink:href="#icon-arrow-right"></use></svg></a>
                </nav>
            </div>

            <div class="md-col md-col-5 lg-col-4 sidebar">
                <div class="card sponsor sponsor--block mb3">
                    <span class="sponsor__text"><b>Sponsor</b> / <a href="/advertising" class="link--gray">Become a sponsor</a></span>
                </div>
                <div class="card card--red my3">
                    <div class="card__header">
                        <h2>Newsletter</h2>
                        <img class="header__icon" src="/assets/images/min/icon-newsletter.png">
                    </div>
                    <div class="card__content">
                        <p>Join the weekly newsletter and never miss out on new tips, tutorials, and more.</p>
                    <form action="https://laravelnews.createsend.com/t/d/s/owwr/" method="post" class="newsletter-form" data-area="home">
                        <div class="input__group">
                            <input class="input__sm" type="email" placeholder="Email Address" name="cm-owwr-owwr" required>
                            <button class="btn btn--dark-red btn--thin btn--sm newsletter-subscribe">Subscribe</button>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card card--gray mb3">
                    <header class="card__header">
                        <h2>Laravel Jobs</h2>
                        <img class="header__icon" src="/assets/images/icon-chair.png">
                    </header>
                    <div class="card__content">
                        <dl class="list-unstyled">
                            <dt><a href="https://larajobs.com/job/892/web-developer" class="link--white" rel="nofollow">Web Developer</a></dt>
                            <dd> Full Time • Boulder, USA<br>Light Reading</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="site-footer">
    <div class="container wrapper">
        <nav class="footer__nav">
            <ol>
                <li><a href="/links">Links</a></li>
                <li><a href="/newsletter">Newsletter</a></li>
                <li><a href="/advertising">Advertise</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="https://larajobs.com" rel="nofollow">Jobs</a></li>
                <li><a href="/account" rel="nofollow">Your Account</a></li>
                <li><a href="/contact">Contact</a></li>
            </ol>
        </nav>
        <nav class="footer__nav nav--lighter">
            <ol>
                <li><a href="/category/news">News</a></li>
                <li><a href="/category/laravel-tutorials">Tutorials</a></li>
                <li><a href="/category/laravel-packages">Packages</a></li>
                <li><a href="/category/laravel-books">Books</a></li>
                <li><a href="/category/interviews">Interviews</a></li>
                <li><a href="/category/laravel-applications">Applications</a></li>
            </ol>
        </nav>
        <div class="footer__copy mt5">
            <img src="/assets/images/min/dark-ln-elephant.png">
            <p>&copy; 2012 - 2017 <a href="/">Laravel News</a> &mdash; By <a href="https://twitter.com/ericlbarnes">Eric L. Barnes</a> - A division of dotdev inc.</p>
        </div>
        <div class="footer__tribute">
            <p>Design &amp; Front-end code by</p>
            <a href="https://zaengle.com/" class="tribute__logo">
                <span>Zaengle</span>
                <img src="/assets/images/min/zaengle-logo.png">
            </a>
        </div>
    </div>
</footer>
</body>
</html>
